[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-filter = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
psycopg2 = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"
